@charset "utf-8";

body {
    background-color: rgb(244, 237, 237);
    text-align: center;
    
}

.category {
    font-size: 15px;
    text-align: center;
}

.specification {
    font-size: 15px;
    text-align: center;
}

.size {
    font-size: 15px;
    text-align: center;
}

.region {
    font-size: 15px;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
padding: 5px 8px;
border: 1px solid #333;
}

tr td:nth-of-type(1) {
  background-color: rgba(1, 58, 58, 0.352);
}